<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="Back" ></ion-back-button>
      </ion-buttons>
    <ion-title>Liked Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let itemVideo of lstVideos">
            <ion-avatar slot="start">
                <img [src]="itemVideo.snippet.thumbnails.high.url" />
            </ion-avatar>
            <ion-label>
                <h1>{{itemVideo.snippet.title}}</h1>
                <p>{{itemVideo.snippet.description}}</p>
            </ion-label>
         
        </ion-item>
    </ion-list>
</ion-content>
