<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            Fill your credentials
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="frmGroup" (ngSubmit)="doLogin()" novalidate>
                <ion-item>
                    <ion-label position="stacked">Email</ion-label>
                    <ion-input name="email" [(ngModel)]="loginModel.email" formControlName="email" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Password</ion-label>
                    <ion-input name="password" type="password" [(ngModel)]="loginModel.password" formControlName="password"  ></ion-input>
                </ion-item>
                <ion-item no-lines text-right >
                    <ion-button  [disabled]="!frmGroup.valid" type="submit">Login
                    <ion-icon slot="end" name="key"></ion-icon>
                    </ion-button>
                </ion-item>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
