<ion-header>
  <ion-toolbar>
    <ion-title>Youtube Feed</ion-title>
      <ion-buttons slot="end">
          <ion-button color="primary" (click)="navigateLikedVideos()">
              <ion-icon slot="start" name="thumbs-up" ></ion-icon>
              <ion-label slot="end">Videos</ion-label>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- show spinner while we dont have liis of videos populated-->
    <ion-spinner name="circles" text-center *ngIf="lstVideos.length<=0"></ion-spinner>
    <ion-list *ngIf="lstVideos.length>0">
        <ion-item *ngFor="let itemVideo of lstVideos">
            <ion-avatar slot="start">
                <img [src]="itemVideo.snippet.thumbnails.high.url" />
            </ion-avatar>
            <ion-label>
                <h1>{{itemVideo.snippet.title}}</h1>
                <p>{{itemVideo.snippet.description}}</p>
            </ion-label>
            <ion-icon name="thumbs-up" slot="end" (click)="likeVideo(itemVideo)" *ngIf="!itemVideo.Like"></ion-icon>
            <ion-icon name="thumbs-down" slot="end" (click)="dislikeVideo(itemVideo)" *ngIf="itemVideo.Like"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
